beautifulsoup4==4.12.2
blinker==1.9.0
click==8.2.1
colorama==0.4.6
et_xmlfile==2.0.0
Flask==2.3.3
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==4.9.3
MarkupSafe==3.0.2
numpy==2.2.6
openpyxl==3.1.5
packaging==25.0
pandas==2.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
soupsieve==2.7
tzdata==2025.2
uuid==1.30
Werkzeug==3.1.3
